.container {
  width: 1600px;
}

.header .inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  padding: 24px 0;
}

.logo-link {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.57px;
  text-align: left;
  color: #95E1D3;
  text-decoration: none;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav-list__link {
  color: #95E1D3;
  position: relative;
  margin-right: 55px;
  text-decoration: none;
}
.nav-list__link:hover, .nav-list__link:focus {
  color: #F38181;
}
.nav-list__link:hover::after, .nav-list__link:focus::after {
  width: 100%;
}
.nav-list__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 44px;
  width: 0;
  height: 4px;
  background-color: #F38181;
  border-radius: 2px;
  transition: width 250ms linear;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.features-logo {
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  line-height: 34.82px;
  text-align: left;
  color: #333333;
  text-align: center;
}

.features-text {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.57px;
  text-align: left;
  color: #333333;
  text-align: center;
}
.features-text:hover::after {
  width: 60px;
}
.features-text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 4px;
  background-color: #F38181;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 118px;
}

.features-list-item {
  width: 270px;
}

.features-img {
  width: 38px;
}

.features-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  color: #333333;
}

.features-paragraf {
  color: #B6B6B6;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
}

.features-subtitle::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: getColor("layout-bg");
  margin-bottom: 30px;
}

.footer-paragraf {
  font-family: "font-family", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #333;
}

.footer-text {
  font-family: "font-family", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #f38181;
}

.footer-input {
  width: 230px;
  height: 40px;
  padding: 14px 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
}

.footer-btn {
  width: 150px;
  height: 40px;
  background: #95e1d3;
  font-family: "font-family", sans-serif;
  font-weight: 700;
  font-size: 14px;
  font-variant: all-small-caps;
  text-align: center;
  color: #fff;
  border: none;
}

.hero {
  padding-top: 90px;
}

.hero-paragraf {
  color: #B6B6B6;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  text-align: center;
  padding-bottom: 42px;
}

.cards {
  display: flex;
}

.cards-list {
  margin-right: 30px;
}

.cards-img {
  width: 380px;
  height: 470px;
}

.cards-paragraf {
  font-family: "font-family", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-variant: all-small-caps;
  text-align: center;
  color: #333;
}

.cards-text {
  font-family: "second-family", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  color: #b6b6b6;
}/*# sourceMappingURL=main.css.map */