.container {
    width: 1200px;
    margin: 0 auto;
    
}

.features {
    padding: 94px 0;
}

.features-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features-list-item {
    width: 270px;
}

.features-img {
    width: 38px;
}

.features-subtitle {
font-family: 'Montserrat';
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;

}

.features-paragraf {
    color: getColor('gray-color');
    font-size: 14px;
    font-family: 'Roboto';
    font-style: normal;
}

.features-subtitle::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-color: getColor('layout-bg');
    margin-bottom: 30px;
}


// .features-list-item:nth-child(4) .features-subtitle::before {
//     background-image: url("../img/line-icons.jpg");
//     background-position: center;
//     background-repeat: no-repeat;
// }

// .features-list-item:nth-child(5) .features-subtitle::before {
//     background-image: url("../img/home.jpg");
//     background-position: center;
//     background-repeat: no-repeat;
// }

// .features-list-item:nth-child(6) .features-subtitle::before {
//     background-image: url("../img/digital-marketing.jpg");
//     background-position: center;
//     background-repeat: no-repeat;
// }