.footer-paragraf {
    font-family: 'font-family',sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #333;
}

.footer-text {
    font-family: 'font-family', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #f38181;
}

.footer-input {
    width: 230px;
    height: 40px;
    padding: 14px 18px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
}

.footer-btn {
    width: 150px;
    height: 40px;
    background: #95e1d3;
    font-family: 'font-family', sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-variant: all-small-caps;
    text-align: center;
    color: #fff;
    border: none;
}